{% extends 'log.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

<link rel="stylesheet" href="/css/bluffandtell.css">

<img src="{{ asset('images/logoblanc.png') }}" alt="Logo BluffTell" class="logo-blufftell"/>


<!-- Titre principal -->
<h1 class="title-blufftell">Bienvenue sur Bluff & Tell!</h1>
<p class="title-blufftell">Là ou la créativité rencontre vos skill de Bluff.</p>

<!-- Description -->
<p class="title-blufftell">Sois prêt à raconter des histoires, trouver l'imposteur, et t'amuser avec tes amis!</p>


<div class="form-group">
    <input type="text" class="form-control input-petit" id="pseudo1" aria-describedby="pseudoHelp" placeholder="Entrez un pseudo">
    <small id="pseudoHelp" class="form-text text-muted"></small>
</div>


{# <form method="POST" action="{{ path('app_login') }}"> #}
    <a href="{{ path('app_login') }}">
    <button type="submit" class="btn btn-primary">Jouer !</button>
    </a>


{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/home.js') }}"></script>
{% endblock %}

{% endblock %}