{% extends 'base.html.twig' %}

{% block title %}Games Index{% endblock %}

{% block body %}
<div class="container">
    <h1>Games</h1>

    <table class="table">
        <thead>
            <tr>
                
                
                <th>Nombre de rounds</th>
                <th>Statut</th>
                <th>Créée par</th>
            </tr>
        </thead>
        <tbody>
            {% for game in games %}
                {% if game.GameStatut in ['en cours', 'started'] %}
                    <tr>
                    
                    
                    <td>{{ game.RoundCount }}</td>
                    <td>{{ game.GameStatut }}</td>
                    
                    <td>{{ game.CreatedBy.pseudo}}</td>
                    <td>
                    {% if app.user and 'ROLE_ADMIN' in app.user.roles %}
                        <a href="{{ path('app_games_show', {'id': game.id}) }}" class="btn btn-primary">Show</a>
                        <a href="{{ path('app_games_edit', {'id': game.id}) }}" class="btn btn-warning">Edit</a>
                        {% endif %}
                        <a href="{{ path('app_games_join', {'id': game.id}) }}" class="btn btn-success">Join</a>
                    </td>
                </tr>
                {% endif %}
            {% else %}
                <tr>
                    <td colspan="5" class="text-center">No records found</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_games_new') }}" class="btn btn-primary">Create New</a>
</div>
{% endblock %}

